body{
    padding-top:60px;
    /* background-color: black;
    color:white; */
}
#navbar{
    /* border: 1px solid blue; */
    background-color: white;
    /* box-shadow: 1px 2px 3px gray; */
    width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    position: fixed;
    top:0;
    right:0;
}
#navbar>div{
    /* border: 1px solid red; */
    /* width:100px; */
    display:flex;
    margin:10px;
}
#right{
    justify-content: end;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo #menu{
    width:35px;
    height:15px;
    padding:10px;
    opacity: 0.7;
}
.logo #yt{
    width:100px;
    /* height:85px; */

}
#ipn{
    width:700px;
    height:25px;
    padding:10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size:24px;
}
#btn{
    width:100px;
    height:48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding:10px;
    display:flex;
    align-items: center;
}

#search{
    width:50px;
    height:30px;
    
}
#right{
    display:flex;
    align-items: center;
}
#right img{
    width:20px;
    height:20px;
    padding:5px 20px;
}
#container-main{
    width:95%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
} 
#container-main>div img {
    width:100%;
    border-radius:20px;
}