
body{
    padding:20px;
}
#getData{
    width: 303px;
    height: 67px;
    top: 127px;
    left: 41px;
    border-radius: 10px;
    background-color: black;
    color:white;
    
}
#myIpaddress{
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 41px;
letter-spacing: 0em;
text-align: left;
}
p{
    font-size: 24px;
    font-weight: 700;
}
.det{
    display:flex;
    justify-content: space-between;
}
#searchBar{
    width:100%;
    height:40px;
    font-size: 24px;
    /* padding:10px; */
    border:2px solid black;
}
.cardcontainer{
    width:fit-content;
    border:1px solid black;
    margin:20px;
    font-size: 24px;;
    padding:10px;
}
.cardscontainer{
    display:flex;
    flex-wrap: wrap;
}